.courses {
  .slide {
    position: relative;
    width: 30rem;

    background-color: $light-green;

    text-align: center;
    
    overflow: hidden;
    cursor: grab;

    &:hover .content {
        bottom: 0;
    }

    .image {
      padding: 2rem;

      img {
        width: 100%;
        margin-bottom: 1.5rem;
      }

      h3 {
        @include titleText(2rem);
      }
    }

    .content {
      position: absolute;
      bottom: -100%;
      right: 0;
      left: 0;
      padding: 2rem 3rem;

      background-color: $green;

      h3 {
        @include titleText(2rem);
        color: $white;
      }

      p {
          padding: 1rem 0;

          @include graphText(1.5rem);
          color: $light-white;
      }

      .btn:hover {
          background-color: $black;
      }
    }
  }
}
